.widget.richtext {
  color: var(--wcFont);
  display: inline-block;
  box-sizing: border-box;
  background-color: var(--wcMain);
  border-color: var(--wcBorder);
  border-style: solid;
  overflow: auto;
  padding: var(--padding);
  --wcMain: null;
  --wcBorder: null;
  --padding: 0px;
}

#richtextText{
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  box-sizing: border-box;
  overflow: auto;
}
