.richtext {
  color: var(--wcFont);
  display: inline-block;
  box-sizing: content-box;
  background-color: var(--wcMain);
  border-color: var(--wcBorder);
  border-style: solid;
  overflow: auto;
  --wcMain: transparent;
  --wcBorder: transparent;
}
